<div class="flex flex-col items-center">
    <div class="text-3xl text-center mb-12">Danke fürs Ausprobieren</div>
    <div class="text-xl">
        <div class="text-2xl">Eine Web-App von:</div>
        <div class="ml-4">
            <div>Benedikt Wismeth</div>
            <div>Julius</div>
            <div>Felix Loos</div>
        </div>
    </div>
</div>