<div class="py-10 text-7xl font-bold text-center mb-24 text-white">
    Relaxdays Geschenke Finder
</div>
<div class="mx-12 mb-20 text-xl font-semibold text-white">
    <div class=" py-10">
        Nutze Google Daten um das perfekte Geschenk auf Relaxdays zu finden:
    </div>
    <div class=" py-10 text-l text-white">

        Einfach der Anleitung folgen und die Daten der zu beschenkenden Person, wahlweise kombiniert mit den eigenen Daten hochladen
        und ein Geschenk finden das so gut passt wie Google dich kennt
    </div>
    <%- include('components/nextButton', {href: '/upload'}); %>
</div>
