{% extends 'layout.html' %}
{% block content %}
    <div class="py-10 text-7xl font-bold text-center mb-10 text-white">
        Wähle passende Geschenke aus:
    </div>
    <div x-data="" class="flex justify-around text-8xl text-white font-bold">
        <button class="px-16 text-8xl  font-bold bg-gradient-to-b from-blue-400 to-green-400 hover:from-blue-700 hover:to-green-300 border-transparent  rounded-r-lg">-</button>
        <img class="center" src="https://cdn.relaxdays.com/media/catalog/product/cache/edb9efdaeaa91af549786f6800a64891/1/0/10013215_0_3_6f43be5ebf7af6edb693a043383bf02b.jpg">
        <button class="text-8xl px-14 font-bold  bg-gradient-to-b from-green-400 to-blue-400 hover:from-green-300 hover:to-blue-600 border-transparent  rounded-r-lg">+</button>
    </div>
{% endblock %}