{% extends 'layout.html' %}
{% block content %}
<div class="py-10 text-7xl font-bold text-center mb-10 text-white">
    Datenupload
</div>
<div x-data="{singleMode: true, firstFile: null, secondFile: null, maxPrice: 500}" class="flex flex-col font-semibold">
    <div class ="text-white mt-8 font-semibold">
        Gehe zu dem betreffenden Google Konto --> Daten & Personalisierung --> personalisierte Werbung --> STRG+S
        </br>Diese Datei sollte eine HTML Endung haben.</br>
        Wenn du die Interessen mehrerer Personen kombinieren willst, lade die Dateien beider Google Konten hoch
         </div>
         <div class="px-4 flex flex-col text-white mt-8 border-white border-4  rounded-r-lg">

            <label class="text-white mt-8" for="firstFile">Google Daten von zu beschenkenden Person :</label>
            <input type="file" class="mb-6 mt-8"
                   id="firstFile"
                   x-ref="firstFile"
                   x-on:change="
                                        const reader = new FileReader();
                                        reader.onload = (e) => {
                                            firstFile = e.target.result;
                                        };
                                        reader.readAsDataURL($refs.firstFile.files[0]);
                                "/>
        </div>

    <div class=" px-4 flex flex-col text-white mt-8 border-white border-4  rounded-r-lg  " x-show="!singleMode ">
        <div class="text-white mt-8 "  for="secondFile">Google Daten von weiterer Person:</div>
        <input  type="file" class="mb-6 mt-8"
               x-ref="secondFile"
               x-on:change="
                                    const reader = new FileReader();
                                    reader.onload = (e) => {
                                        secondFile = e.target.result;
                                    };
                                    reader.readAsDataURL($refs.secondFile.files[0]);
                            "/>
    </div>
<div class=" py-4 px-4 mt-8 mb-4 border-white border-4  rounded-r-lg ">
    <label class=" mt-8  text-white mt-10" for="maxPrice">Maximaler Preis   </label>
     <input class="px-4 border-white border-4  rounded-r-lg flex-shrink w-36 mt-6 " id="maxPrice" type="number" min="0" x-model="maxPrice"/>

</div>

    <button class="flex-shrink w-56 mt-8 inline-flex items-center px-4 py-2 bg-gradient-to-r from-blue-600 to-green-400 hover:from-blue-500 to-green-400 border-transparent   rounded-r-lg font-bold text-s text-white uppercase  tracking-widest"
            x-show="singleMode" @click="singleMode=false">Freund*innen Modus</button>
    <button class="flex-shrink w-56 mt-8 inline-flex items-center px-4 py-2 bg-gradient-to-r from-blue-600 to-green-400 hover:from-blue-500 to-green-400 border-transparent   rounded-r-lg font-bold text-lg text-white uppercase  tracking-widest"
            x-show="!singleMode" @click="singleMode=true">Einzel Modus</button>
    <a href="/swipe"
       class="w-24 mt-16 py-4 inline-flex items-center px-3 py-2 bg-gradient-to-r from-blue-600 to-green-400 hover:from-blue-500 to-green-400  border-transparent  rounded-r-lg font-bold text-lg text-white uppercase  tracking-widest">
        Weiter
    </a>
</div>
{% endblock %}