{% extends 'layout.html' %}
{% block content %}
    <div class="py-10 text-7xl font-bold text-center mb-10 text-white">
        Datenupload
    </div>
    <div x-data="{singleMode: true, firstFile: null, secondFile: null, maxPrice: 500}" class="flex flex-col font-semibold">
        <div class="text-white mt-8 font-semibold">
            Gehe zu dem betreffenden Google Konto --> Daten & Personalisierung --> personalisierte Werbung --> STRG+S<br>
            Diese Datei sollte eine HTML Endung haben.<br>
            <a class="text-blue-900" href="https://adssettings.google.com/authenticated?hl=de">Zur Google Seite</a><br/>
            Wenn du die Interessen mehrerer Personen kombinieren willst, lade die Dateien beider Google Konten hoch
        </div>
        <form method="post" action="{{ url_for('upload') }}" enctype="multipart/form-data">
            <div class="px-4 flex flex-col text-white mt-8 border-white border-4  rounded-r-lg">
                <label class="text-white mt-8" for="firstFile">Google Daten von der zu beschenkenden Person :</label>
                <input type="file" class="mb-6 mt-8" name="file1" required id="firstFile"/>
            </div>

            <div class=" px-4 flex flex-col text-white mt-8 border-white border-4  rounded-r-lg  " x-show="!singleMode ">
                <div class="text-white mt-8" for="secondFile">Google Daten von weiterer Person:</div>
                <input type="file" class="mb-6 mt-8" name="file2"/>
            </div>
            <div class=" py-4 px-4 mt-8 mb-4 border-white border-4  rounded-r-lg ">
                <label class="mt-8 text-white mt-10" for="maxPrice">Maximaler Preis in €
                    <input class="px-4 border-white border-4  rounded-r-lg flex-shrink w-36 mt-6 text-black" name="max_price" type="number" min="0" x-model="maxPrice"/>
                </label>
            </div>

            <div class="flex-shrink w-56 mt-8 inline-flex items-center px-4 py-2 bg-gradient-to-r from-blue-600 to-green-400 hover:from-blue-500 to-green-400 border-transparent rounded-r-lg font-bold text-s text-white uppercase tracking-widest"
                 x-show="singleMode" @click="singleMode=false">
                Freund*innen Modus
            </div>
            <div class="flex-shrink w-56 mt-8 inline-flex items-center px-4 py-2 bg-gradient-to-r from-blue-600 to-green-400 hover:from-blue-500 to-green-400 border-transparent rounded-r-lg font-bold text-lg text-white uppercase tracking-widest"
                 x-show="!singleMode" @click="singleMode=true">
                Einzel Modus
            </div>

            <div>
                <button class="w-24 mt-16 py-4 inline-flex items-center px-3 py-2 bg-gradient-to-r from-blue-600 to-green-400 hover:from-blue-500 to-green-400 border-transparent rounded-r-lg font-bold text-lg text-white uppercase tracking-widest">
                    Weiter
                </button>
            </div>
        </form>
    </div>
{% endblock %}